.lista-pedidos{
  list-style:none;
  text-align: center;

}


/* Section home -----------------*/

.home{
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -80px;
}

.container-fluid{
  height: 113vh;
}

.overlay-70{
  background-color: rgba(51, 51, 51, 0.7);
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
}
.text{
    font-family: 'Rochester', cursive;
    font-size: 55px;
    text-shadow: -8px 29px 19px #000000;
    letter-spacing: -4px;
    position: relative;
    top: 50vh;  
}

.btn-position{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-home{
  z-index: 1;
  position: relative;
  top: 55vh;
  border-radius: 55px;
  font-family: 'Rouge Script', cursive;
  font-size: 30px;
  color: black;
  box-shadow: -1px 10px 25px #000000;;
}

.arrow{
  transform: translate(-50%,-50%);
  position: relative;
  top: 70vh;
  right: 115px;
}
.arrow span{
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #ecedee;
  border-right: 5px solid #ecedee;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
  z-index: 2;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

/*  final da Section home -------
-------------------------------------------*/


/*!!!!!      Section form user!!!! -----------------*/

.form-user{
  position: relative;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
  width: 100%;
  height: 120vh;
}
.title-user-infos p{
  padding-top: 10vh;
  font-family: 'Rochester', cursive;
}

form{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-name-user, .form-select {
  width: 45%;
  border-radius: 20px;
}
.input-name-user input{
  border-radius: 20px;
}
  

.btn-user-infos{
  border-radius: 55px;
  font-family: 'Rouge Script', cursive;
  font-size: 30px;
  color: black;
  box-shadow: -1px 10px 25px #000000;;
}

/*  final da Section home -------
-------------------------------------------*/


/* !!!!!!!  Section do cardapio !!!!! */

.cardapio-area{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
  width: 100%;
  height: 180vh;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -100px;
}
.title-section-cardapio{
  position: relative;
  font-family: 'Rochester', cursive;
  font-size: 55px;
  text-decoration: underline;
  letter-spacing: -4px;
  color: red;
}
.flex-titles p {
  font-family: 'Rochester', cursive;
  font-size: 35px;
  letter-spacing: -3px;
  color: red;
}
.img-thumbnail{
  width: 100%;
  height: 10vh;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.left-content, .right-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  width: 100%;
  height: 90vh;
}
.box-cardapio{
  position: relative;
  top: 20vh;
  width: 100%;
  height: 170vh;
  background-color: white;
  border-radius: 15px;
}

.flex-contents{
  display: flex;
  justify-content: space-between;
}
.flex-titles{
  display: flex;
  justify-content: space-around;
}

.info-client-box{
  margin-top: 10px;
  width: 20%;
  height: 5vh;
  background-color: rgba(216, 216, 216, 0.911);
  border-radius: 20px;
  font-family: sans-serif;
  text-align: center;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-lista-de-pedidos{
  margin-top: 30px;
  width: 50%;
  height: 20vh;
  background-color: rgba(216, 216, 216, 0.911);
  border-radius: 20px;
  overflow-y:scroll;
}

#soma-box{
  background-color:#fff;
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
#soma-box h3{
  font-size:  15px;
  margin-top: 3px;  
}
  

/*----------------------- section pedidos ---------------- */ 
#pedidos{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: none;
}
.p-pedidos{
  font-size: 50px;
  color: #000000;
  font-family: 'Rochester';
}

.ring-container {
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 121vh;
}

.ringring {
  border: 3px solid #62bd19;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 120vh;
  top: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.0
}
@keyframes pulsate {
  0% {-webkit-transform: scale(0.3, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


/* !!!!!!! fim da Section do cardapio !!!!! */



/* !!!!!!!  Media query !!!!! */
@media (max-width: 280px){
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 37px;
    left: 34vh;
  }
  
  .ringring {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 33vh;
    top: 30px;
  }

}

@media (min-width: 300px) and (max-width:980px){
  .cardapio-area{
    height: 300vh;
  }
  .box-cardapio{
    height: 300vh;
  }
  .left-content{
    width: 90%;
    position: absolute;
    
  }
  .right-content{
    position: relative;
    top: 105vh;
  }
  .text-left-mobile-position{
    position: relative;
    left: 25%;
  }
  .text-right-mobile-position{
    position: relative;
    top: 100vh;
    right: 25%;
    z-index: 1;
    font-size: 30px;
  }
  .info-client-box{
    position: absolute;
    top: 220vh;
    width: 35%;
  }
  .box-lista-de-pedidos{
    position: absolute;
    top: 223vh;
    width: 90%;
  }
  #soma-box{
    position: absolute;
    top: 266vh;

  }
  .btn-mobile-position-1{
    position: absolute;
    top: 255vh;
    height: 40px;
  }
  .btn-mobile-position-2{
    position: absolute;
    top: 270vh;
  }

 

  /* SECTION PEDIDOS Media query----------------- */
  #pedidos{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
  }
  .p-pedidos{
    font-size: 50px;
    color: #000000;
    font-family: 'Rochester';
  }
  
  .ring-container {
    position: relative;
  }
  
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 37px;
    left: 41vh;
  }
  
  .ringring {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 40vh;
    top: 30px;
  }
  #data-client{
    position: absolute;
    top: 10vh;
  }
  #pending-orders{
    position: absolute;
    top: 15vh;
  }
  .soma-box-pedido{
    position: relative;
    bottom: 240vh;
    
  }
}

/*---------------------------------*/

@media (min-width: 767px){
  .circle {
    top: 37px;
    left: 46vh;
  }
  
  .ringring {
    left: 45vh;
    top: 30px;
  }
  .soma-box-pedido{
    bottom: 235vh;
  }
  .info-client-box{
    top: 215vh;
  }
}

@media (min-width: 800px){
  .circle{
    left: 85vh;
  }
  .ringring{
    left: 84vh;
  }
}
